<template name="helpag">
	<div class="container-fluid pag_help " >
     <div  class="generatedquery">
<!--
	<div class="HelpTitle">  <h3> DOCUMENTACIÓN </h3></div> <br>
    Para obtener información relacionada con la aplicación puede  <br> consultar el manual de usuario, en el siguiente enlace: <br><br>
	<a href="https://goo.gl/ANAWS3"  target="_blank" draggable="false">Ver Manual</a>
-->
	<div class="HelpTitle2">  <h3> INFORMACIÓN DE CONTACTO </h3></div> <br>

	Dependencia: Centro de Documentación Regional Juan Bautista Vázquez<br>
	Dirección: Av. 12 de Abril y Av. Loja <br>
	Apartado: 01.01.168  <br>
	Teléfono / Fax: (593-7) 405 1005<br>
	Ext.: 1311
	<!-- E-mail:  -->
 <br>
Cuenca-Ecuador. <br> <br>
 <a href="http://ucuenca.edu.ec" target="_blank" class="logo">
 <img src="images/uc.png" alt="UCUENCA" width="150px"> </a>
     </div>

	</div>
</template>
