#ui-id-1 {

    text-align:left;

}

.heading
{
    width:100%;
    /*padding: 3px 3px;*/
    /*margin: 5px 0px;*/
    color:white;
    /*background-color:#c8a0c8;*/
    background-color:grey;
    font-style:italic;
    font-weight:bold;
    font-family: Tahoma, Geneva, sans-serif;
}
.search-section  {
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', sans-serif;
    color: #666;
    font-size: 14px;
    line-height: 1.6;
    text-align: left;
    margin-top: 20px;
    background-image: url('/buscador/images/volcan.jpg');
    top: 0px;
    bottom: 0px;
    position: absolute;
    width: 100%;
}



.search-area {

    height: 60px;
    background: #fafafa;
    margin-left: 20px;
    margin: 10px;

}

.firstsection {
    border-bottom-style: solid ;
    border-bottom-width: 2px;
    /*	background-color: #EDEFF2 ;*/
    background-color: #FAFAFA ;
    border-bottom-color: #D8D8D8;
    /*-webkit-box-shadow:2px 2px 0px 0px #424242; -moz-box-shadow:2px 2px 0px 0px #424242; box-shadow:2px 2px 0px 0px #424242;*/
    /*margin: 10px;*/

}

.Search-bar {
    margin: 10px;
    border-style: outset;
    border-width: 2px;
    border-radius: 5px;
    border-color: rgba(45, 45, 45,0.3);

}

.second-area {
    /* height: 500px; */
    /*background-color: #E6E6E6 ;*/
    background-color: #ffffff ;
    border: 10px,10
}

.sugestion-area {
    /*  border-right-style: solid ;
          border-right-width: 1px;
          border-right-color: #000;*/
    height: 100%;





}

.result-area {

    /*height: 500px;*/
    background-color: #ffffff;
    left: -17px;
}


.result {
    margin: 10px;
    /*	height: 100px; */
    -webkit-box-shadow:0px 0px 0px 0px #848484; -moz-box-shadow:0px 0px 0px 0px #848484; box-shadow:0px 0px 0px 0px #848484;
    border-style: solid ;
    border-width: 1px;
    border-color: #BDBDBD;
    background-color: #f4f4f4 ;
    width: 95%;
    min-height: 141px;
    border-radius: 5px;
}

.sugestion-panel
{   border-style: solid ;
    border-width: 1px;
    border-color: #BDBDBD;
    background-color: #FAFAFA ;
    margin: 10px;
    min-height: 40px;
    -webkit-box-shadow:2px 2px 0px 0px #848484; -moz-box-shadow:2px 2px 0px 0px #848484; box-shadow:2px 2px 0px 0px #848484;

}

.btn-search{

  background-color: #428bca;
  color: white;
  /*background-image: url('/images/busqueda.png') width: 10px;*/





/*STYLES TO EACH ROW IN RESULT*/
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.colu-1 {width: 15%;}
.colu-2 {width: 85%;}
[class*="colu-"] {
    float: left;
    /*border: 1px solid red;*/
}
.thumb {
    position: relative;
    top:5px;
    /*background-color: #0083e3;*/
    background-color:rgba(0, 131, 227, 0.68);
    width: 110px;
    max-widht: 100px;
    margin: auto;
    border-radius: 5px;
    border-radius: 5px;
    opacity: .9;
    min-height: 90px;
}
.ntwrk-name {
    text-align: center;
    position: relative;
    width: 110px;
    max-widht: 100px;
    text-transform: uppercase;
    background-color: #101010;
    color: rgba(0, 131, 227, 0.68);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    line-height: 15px;
    padding: 3px;
}
.format {
    text-align: center;
    position: relative;
    width: 90px;
    max-widht: 100px;
    color: #fff;
    vertical-align: middle;
    margin: auto;
    padding: 3px 0px;
}
/*STYLES TO EACH ROW IN RESULT*/






.title-seach {
    margin-left: 10px;
    font-size: 16px;

}


.result-suggestion {
    margin: 5px;
    color: #2E64FE;
}

/*
.first-search {
  background-color: #E6E6E6 ;
}*/
.Title-result {
    color: #2E64FE;
    font-size: 14px;
    font-family:

}

ul#Sugerencias  li{
    padding-bottom: 2ex;
    list-style-type: disc;
}

#Title-suggestion {
    margin-left: 10px;
    font-size: 17px;
}

.opciones-area {
    clear: both;
    text-align:center;
    /*color:white;*/
    width:30%;
    position: relative;
    left: 72%;
    bottom: 100%;


}

.opt-fuente {
    color: blue;
}

.opt-elda{
    color: blue;

}
.opt-grafo{
    color: blue;

}


.opt-eldadiv {
    border-right-style: solid ;
    border-right-width: 1px;
    border-right-color: #BDBDBD;
    border-left-style: solid ;
    border-left-width: 1px;
    border-left-color: #BDBDBD;

}

.fuente-area {
    border-right-style: solid ;
    border-right-width: 1px;
    border-right-color: #BDBDBD;
    border-left-style: solid ;
    border-left-width: 1px;
    border-left-color: #BDBDBD;
    background-color: #428bca;
    color: white;
    margin-top: 5px;

}

.oculto {
    display: none;
}

.nresult {
    margin-top: 5px;
    font-size: 16px;
}

.pagination {
    padding-top: 2px;
    padding-bottom: 5px;
}


.qricon {
    /*left: 40%;
    position: relative; */
    right: 36%;
    position: relative;

}

#qrarea1 {
    width:100px;
    height:100px;
    /*margin-top:15px;*/

    margin: auto;
    margin-top: 10px;
    margin-bottom: 15px;
}

#qrarea2 {
    width:100px;
    height:100px;
    /*margin-top:15px;*/

    margin: auto;
    margin-top: 10px;
    margin-bottom: 15px;
}


.navqr > li > a {
    position: relative;
    display: block;
    padding: 5px 15px;
}

#dwnload
{
    cursor: pointer;
    left: 38%;
    position: relative;
    top: 4px;
}


.dwnoptions {
    margin-bottom: 50px;
    margin-top: 10px;

}

.dwnoptions #format {
    margin-left:10px;
}


.imgfav {

    margin-top: -4px;
}


/*
.qricon {
left: 40%;
position: relative;
background-image: url('/images/qr.png');
width: 15px;
height: 15px;
background-size: contain;
background-repeat: no-repeat;
border: none;
border-radius: 5px;
}*/

.histandfav {
    overflow: scroll;
    top: 0px;
    bottom: 0px;
    position: absolute;
    width: 100%;

}

#expandfac {
    left: 60%;
    top: 2px;
    cursor: pointer;
}

#expandsugg {
    left: 10%;
    top: 2px;
    cursor: pointer;
}
